apiVersion: v1
kind: Namespace
metadata:
  name: argo-rollouts
---
apiVersion: argoproj.io/v1alpha1
kind: RolloutControllerConfig
metadata:
  name: rollout-controller-config
  namespace: argo-rollouts
spec:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi
